.App {
  padding: 0px;
  margin: 0px;
}
.header {
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
  margin: 0px;
}
.logo {
  width: 100px;
  height: 70px;
  padding: 10px;
}
.nav-items > ul {
  display: flex;
  padding: 10px;
  list-style-type: none;
}
.nav-items > ul > li {
  padding: 10px;
  margin: 0px 30px;
  font-size: 17px;
}
.res-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: small;
  width: 250px;
  height: 280px;
  padding: 10px;
  margin: 20px;
  background-color: antiquewhite;
}
.res-logo {
  width: 250px;
  height: 150px;
}
.restaurant-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.shimmer-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 250px;
  height: 280px;
  padding: 10px;
  margin: 20px;
  background-color: darkgray;
}

.search-box {
  border: 1px solid black;
  border-radius: 5px;
  margin-right: 10px;
}
.search-btn {
  background-color: blueviolet;
  border-radius: 5px;
  color: white;
  width: 60px;
}
.filter-btn {
  background-color: blueviolet;
  color: white;
  border-radius: 5px;
  padding: 2px;
}
.contact-container {
  background-image: url(/public/contact.jpg);
  height: 100vh;
  background-size: contain;
  background-size: cover;
}

input::-webkit-input-placeholder {
  color: #909;
}
textarea::-webkit-input-placeholder {
  color: #909;
}
a:-webkit-any-link:active {
  cursor: pointer;
}
.nav-items a:active {
  padding: 2px;
}
.nav-items a:hover {
  background-color: rgb(21, 169, 195);
  border-radius: 1px;
  width: 100px;
}
.about-right {
  background-image: url(/public/burger-image.ec55d069.png);
  height: 100vh;
  background-repeat: no-repeat;
}
.login {
  background-color: #e2e8f0;
  margin: 0;
}
